<div class="flex justify-center">
  <div class ="card w-96 bg-blue-200 shadow-2xl shadow-cyan-500/50 ">
    <div id="<%= dom_id blog %>">
      <p class="my-5">
        <strong class="block font-medium mb-1">User:</strong>
        <%= blog.user_id %>
      </p>
      <p class="my-5 text-xl">
        <%= blog.title%>
      </p>
      <p class="my-5">
        <strong class="block font-medium mb-1">Code:</strong>
        <%= blog.body %>
      </p>
      <% if action_name != "show" %>
        <%= link_to "Show this Code", blog, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Edit this Code', edit_blog_path(blog), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
      <% end %>
    </div>
  </div>
</div>
<br/>
